apiVersion: v1
kind: Secret
metadata:
  name: serval
  namespace: serval
type: Opaque
stringData:
  GITHUB_APP_KEY: ""
  GITHUB_APP_ID: ""
  GITHUB_APP_CLIENT_ID: ""
  GITHUB_APP_CLIENT_SECRET: ""
  SLACK_APP_TOKEN: ""
  SLACK_BOT_TOKEN: ""